In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

transaction_data_train = pd.read_csv('/home/monica/hdfc_bank_data/train_data/TransactionData_Train.csv')
transaction_data_train.rename(index=str, columns={'C2': 'ID', 'C3': 'Transaction_ID', 'C4': 'Date', 'C5': 'Indicator',\
                                                 'C6': 'Type', 'C8': 'Disbursal_EM_Date', 'C9': 'Transaction_EM_Date', \
                                                 'C10': 'T_Mn', 'C12': 'Amount'}, inplace=True)

print(transaction_data_train.head())
print(transaction_data_train.info())

print(len(list(transaction_data_train['ID'].unique())))

/home/monica/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

             ID   Transaction_ID              Date Indicator Type  \
0  6UGH4BMM1Y6P  6YPV4HMP1V5EWID  06JUL38:17:31:02         D  IAD
1   9Y46ZBCWRP9  61CE41JD5YMP329  05MAY38:16:46:36         D  STD
2   6Z4F3BPVME6  6UQA3CP9F95BOBD  08FEB37:15:55:28         C  OCD
3  6UYF21TDMPPT   BZF6Z3AJQ55MAM  24NOV38:09:48:37         D  EAW
4   5N5ASLGMMPM  6IPA43AM4Y613SX  26OCT38:18:54:06         D  ATW

  Disbursal_EM_Date Transaction_EM_Date   T_Mn   Amount
0        2038-12-30    30JUL38:00:00:00  OTHER  22000.0
1        2039-06-31    28MAY38:00:00:00     FT   8183.0
2        2038-04-31    30FEB37:00:00:00    CHQ  48900.0
3        2039-05-29    31NOV38:00:00:00    ATM   1500.0
4        2038-03-31    31OCT38:00:00:00    ATM  10000.0
<class 'pandas.core.frame.DataFrame'>
Index: 3343745 entries, 0 to 3343744
Data columns (total 9 columns):
ID                     object
Transaction_ID         object
Date                   object
Indicator              object
Type                   object
Disbursal_EM_Date      object
Transaction_EM_Date    object
T_Mn                   object
Amount                 float64
dtypes: float64(1), object(8)
memory usage: 255.1+ MB
None
25673

In [2]:
aggregate_data_train = pd.read_csv('/home/monica/hdfc_bank_data/train_data/AggregateData_Train.csv')  

aggregate_data_train.rename(index=str, columns={'V2': 'ID', 'V3': 'Amt_1', 'V4': 'Amt_2', 'V5': 'Amt_3',\
                                             'V6': 'Amt_4', 'V7': 'Amt_5', 'V8': 'Amt_6','V9': 'Amt_7', 'V10': 'Amt_8', 'V11': 'Amt_9',\
                                             'V12': 'Amt_10', 'V13': 'Amt_11', 'V14': 'Amt_12', 'V15': 'Amt_13', 'V16': 'Amt_14', 'V17': 'Amt_15',\
                                             'V18': 'Amt_16', 'V19': 'Cnt_1', 'V20': 'Cnt_2','V21': 'Cnt_3', 'V22': 'Cnt_4', 'V23': 'Cnt_5', \
                                             'V24': 'Cnt_6', 'V25': 'Cnt_7', 'V26': 'Cnt_8','V27': 'Cnt_9', 'V28': 'Cnt_10', 'V29': 'Cnt_11', \
                                             'V30': 'Cnt_12', 'V31': 'Cnt_13', 'V32': 'Cnt_14','V33': 'Cnt_15', 'V34': 'Cnt_16', 'V35': 'Amt_17', \
                                             'V36': 'Amt_18', 'V37': 'Amt_19', 'V38': 'Cnt_17','V39': 'Cnt_18', 'V40': 'Cnt_19', 'V41': 'R_1', \
                                             'V42': 'R_2', 'V43': 'P_1', 'V44': 'P_2','V45': 'P_3', 'V46': 'P_4', 'V47': 'P_5', \
                                             'V48': 'P_6', 'V49': 'P_7', 'V50': 'Cnt_20','V51': 'Cnt_21', 'V52': 'Cnt_22', 'V53': 'Cnt_23',\
                                             'bad_flag': 'Bad_Flag'}, inplace=True)

print(aggregate_data_train.head())
print(aggregate_data_train.info())

print(len(list(aggregate_data_train['ID'].unique())))

    UID           ID     Amt_1   Amt_2   Amt_3 Amt_4  Amt_5 Amt_6 Amt_7  \
0  Tr-1  61P4S1M3GET  10397.75       ?       ?     ?      ?     ?     ?
1  Tr-2  6NYVS1J3U7M         ?  606.74       ?     ?      ?     ?     ?
2  Tr-3   BLFB1KMS48  87452.89  963.52       ?     ?  13838     ?     ?
3  Tr-4   MYGB1LCW8P         ?  393.26  100000     ?      ?     ?     ?
4  Tr-5  6UG5S1PQGE5      1100   497.2       ?     ?      ?     ?   0.9

       Amt_8   ...    P_3      P_4 P_5 P_6      P_7 Cnt_20 Cnt_21 Cnt_22  \
0  197186.68   ...      ?  5.04055   ?   ?        ?      6      9      3
1          ?   ...      ?        ?   ?   ?        ?      1      ?      ?
2    1081.25   ...      ?        ?   ?   ?        ?     10     10     20
3          ?   ...      ?        ?   ?   ?        ?      4      1      ?
4      18640   ...      ?  0.00470   ?   ?  0.00007      2      3      1

  Cnt_23 Bad_Flag
0     10        0
1      ?        0
2      1        0
3      2        0
4      2        0

[5 rows x 54 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 26775 entries, 0 to 26774
Data columns (total 54 columns):
UID         26775 non-null object
ID          26775 non-null object
Amt_1       26775 non-null object
Amt_2       26775 non-null object
Amt_3       26775 non-null object
Amt_4       26775 non-null object
Amt_5       26775 non-null object
Amt_6       26775 non-null object
Amt_7       26775 non-null object
Amt_8       26775 non-null object
Amt_9       26775 non-null object
Amt_10      26775 non-null object
Amt_11      26775 non-null object
Amt_12      26775 non-null object
Amt_13      26775 non-null object
Amt_14      26775 non-null object
Amt_15      26775 non-null object
Amt_16      26775 non-null object
Cnt_1       26775 non-null object
Cnt_2       26775 non-null object
Cnt_3       26775 non-null object
Cnt_4       26775 non-null object
Cnt_5       26775 non-null object
Cnt_6       26775 non-null object
Cnt_7       26775 non-null object
Cnt_8       26775 non-null object
Cnt_9       26775 non-null object
Cnt_10      26775 non-null object
Cnt_11      26775 non-null object
Cnt_12      26775 non-null object
Cnt_13      26775 non-null object
Cnt_14      26775 non-null object
Cnt_15      26775 non-null object
Cnt_16      26775 non-null object
Amt_17      26775 non-null object
Amt_18      26775 non-null object
Amt_19      26775 non-null object
Cnt_17      26775 non-null object
Cnt_18      26775 non-null object
Cnt_19      26775 non-null object
R_1         26775 non-null object
R_2         26775 non-null object
P_1         26775 non-null object
P_2         26775 non-null object
P_3         26775 non-null object
P_4         26775 non-null object
P_5         26775 non-null object
P_6         26775 non-null object
P_7         26775 non-null object
Cnt_20      26775 non-null object
Cnt_21      26775 non-null object
Cnt_22      26775 non-null object
Cnt_23      26775 non-null object
Bad_Flag    26775 non-null int64
dtypes: int64(1), object(53)
memory usage: 11.2+ MB
None
25673

In [3]:
common_data = pd.merge(transaction_data_train, aggregate_data_train, on='ID')
print(common_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3623413 entries, 0 to 3623412
Data columns (total 62 columns):
ID                     object
Transaction_ID         object
Date                   object
Indicator              object
Type                   object
Disbursal_EM_Date      object
Transaction_EM_Date    object
T_Mn                   object
Amount                 float64
UID                    object
Amt_1                  object
Amt_2                  object
Amt_3                  object
Amt_4                  object
Amt_5                  object
Amt_6                  object
Amt_7                  object
Amt_8                  object
Amt_9                  object
Amt_10                 object
Amt_11                 object
Amt_12                 object
Amt_13                 object
Amt_14                 object
Amt_15                 object
Amt_16                 object
Cnt_1                  object
Cnt_2                  object
Cnt_3                  object
Cnt_4                  object
Cnt_5                  object
Cnt_6                  object
Cnt_7                  object
Cnt_8                  object
Cnt_9                  object
Cnt_10                 object
Cnt_11                 object
Cnt_12                 object
Cnt_13                 object
Cnt_14                 object
Cnt_15                 object
Cnt_16                 object
Amt_17                 object
Amt_18                 object
Amt_19                 object
Cnt_17                 object
Cnt_18                 object
Cnt_19                 object
R_1                    object
R_2                    object
P_1                    object
P_2                    object
P_3                    object
P_4                    object
P_5                    object
P_6                    object
P_7                    object
Cnt_20                 object
Cnt_21                 object
Cnt_22                 object
Cnt_23                 object
Bad_Flag               int64
dtypes: float64(1), int64(1), object(60)
memory usage: 1.7+ GB
None

#### Dropping UID and Transaction_ID as they don't say much about the data

In [4]:
common_data.drop(['UID', 'Transaction_ID' ], axis = 1, inplace = True)

#### Converting the data columns to numeric type and replacing na with 0

In [5]:

common_data['Indicator'],_ = pd.factorize(common_data['Indicator'])
common_data['Type'],_ = pd.factorize(common_data['Type'])
common_data['T_Mn'],_ = pd.factorize(common_data['T_Mn'])

common_data['Amt_1'] = common_data['Amt_1'].map({'?': 0})
common_data['Amt_2'] = common_data['Amt_2'].map({'?': 0})
common_data['Amt_3'] = common_data['Amt_3'].map({'?': 0})
common_data['Amt_4'] = common_data['Amt_4'].map({'?': 0})
common_data['Amt_5'] = common_data['Amt_5'].map({'?': 0})
common_data['Amt_6'] = common_data['Amt_6'].map({'?': 0})
common_data['Amt_7'] = common_data['Amt_7'].map({'?': 0})
common_data['Amt_8'] = common_data['Amt_8'].map({'?': 0})
common_data['Amt_9'] = common_data['Amt_9'].map({'?': 0})
common_data['Amt_10'] = common_data['Amt_10'].map({'?': 0})
common_data['Amt_11'] = common_data['Amt_11'].map({'?': 0})
common_data['Amt_12'] = common_data['Amt_12'].map({'?': 0})
common_data['Amt_13'] = common_data['Amt_13'].map({'?': 0})
common_data['Amt_14'] = common_data['Amt_14'].map({'?': 0})
common_data['Amt_15'] = common_data['Amt_15'].map({'?': 0})
common_data['Amt_16'] = common_data['Amt_16'].map({'?': 0})
common_data['Amt_17'] = common_data['Amt_17'].map({'?': 0})
common_data['Amt_18'] = common_data['Amt_18'].map({'?': 0})
common_data['Amt_19'] = common_data['Amt_19'].map({'?': 0})


common_data['Amt_1'] = pd.to_numeric(common_data['Amt_1'])
common_data['Amt_2'] = pd.to_numeric(common_data['Amt_2'])
common_data['Amt_3'] = pd.to_numeric(common_data['Amt_3'])
common_data['Amt_4'] = pd.to_numeric(common_data['Amt_4'])
common_data['Amt_5'] = pd.to_numeric(common_data['Amt_5'])
common_data['Amt_6'] = pd.to_numeric(common_data['Amt_6'])
common_data['Amt_7'] = pd.to_numeric(common_data['Amt_7'])
common_data['Amt_8'] = pd.to_numeric(common_data['Amt_8'])
common_data['Amt_9'] = pd.to_numeric(common_data['Amt_9'])
common_data['Amt_10'] = pd.to_numeric(common_data['Amt_10'])
common_data['Amt_11'] = pd.to_numeric(common_data['Amt_11'])
common_data['Amt_12'] = pd.to_numeric(common_data['Amt_12'])
common_data['Amt_13'] = pd.to_numeric(common_data['Amt_13'])
common_data['Amt_14'] = pd.to_numeric(common_data['Amt_14'])
common_data['Amt_15'] = pd.to_numeric(common_data['Amt_15'])
common_data['Amt_16'] = pd.to_numeric(common_data['Amt_16'])
common_data['Amt_17'] = pd.to_numeric(common_data['Amt_17'])
common_data['Amt_18'] = pd.to_numeric(common_data['Amt_18'])
common_data['Amt_19'] = pd.to_numeric(common_data['Amt_19'])

common_data['Cnt_1'] = common_data['Cnt_1'].map({'?': 0})
common_data['Cnt_2'] = common_data['Cnt_2'].map({'?': 0})
common_data['Cnt_3'] = common_data['Cnt_3'].map({'?': 0})
common_data['Cnt_4'] = common_data['Cnt_4'].map({'?': 0})
common_data['Cnt_5'] = common_data['Cnt_5'].map({'?': 0})
common_data['Cnt_6'] = common_data['Cnt_6'].map({'?': 0})
common_data['Cnt_7'] = common_data['Cnt_7'].map({'?': 0})
common_data['Cnt_8'] = common_data['Cnt_8'].map({'?': 0})
common_data['Cnt_9'] = common_data['Cnt_9'].map({'?': 0})
common_data['Cnt_10'] = common_data['Cnt_10'].map({'?': 0})
common_data['Cnt_11'] = common_data['Cnt_11'].map({'?': 0})
common_data['Cnt_12'] = common_data['Cnt_12'].map({'?': 0})
common_data['Cnt_13'] = common_data['Cnt_13'].map({'?': 0})
common_data['Cnt_14'] = common_data['Cnt_14'].map({'?': 0})
common_data['Cnt_15'] = common_data['Cnt_15'].map({'?': 0})
common_data['Cnt_16'] = common_data['Cnt_16'].map({'?': 0})
common_data['Cnt_17'] = common_data['Cnt_17'].map({'?': 0})
common_data['Cnt_18'] = common_data['Cnt_18'].map({'?': 0})
common_data['Cnt_19'] = common_data['Cnt_19'].map({'?': 0})
common_data['Cnt_20'] = common_data['Cnt_20'].map({'?': 0})
common_data['Cnt_21'] = common_data['Cnt_21'].map({'?': 0})
common_data['Cnt_22'] = common_data['Cnt_22'].map({'?': 0})
common_data['Cnt_23'] = common_data['Cnt_23'].map({'?': 0})

common_data['R_1'] = common_data['R_1'].map({'?': 0})
common_data['R_2'] = common_data['R_2'].map({'?': 0})
common_data['P_1'] = common_data['P_1'].map({'?': 0})
common_data['P_2'] = common_data['P_2'].map({'?': 0})
common_data['P_3'] = common_data['P_3'].map({'?': 0})
common_data['P_4'] = common_data['P_4'].map({'?': 0})
common_data['P_5'] = common_data['P_5'].map({'?': 0})
common_data['P_6'] = common_data['P_6'].map({'?': 0})
common_data['P_7'] = common_data['P_7'].map({'?': 0})

common_data['Cnt_1'] = pd.to_numeric(common_data['Cnt_1'])
common_data['Cnt_2'] = pd.to_numeric(common_data['Cnt_2'])
common_data['Cnt_3'] = pd.to_numeric(common_data['Cnt_3'])
common_data['Cnt_4'] = pd.to_numeric(common_data['Cnt_4'])
common_data['Cnt_5'] = pd.to_numeric(common_data['Cnt_5'])
common_data['Cnt_6'] = pd.to_numeric(common_data['Cnt_6'])
common_data['Cnt_7'] = pd.to_numeric(common_data['Cnt_7'])
common_data['Cnt_8'] = pd.to_numeric(common_data['Cnt_8'])
common_data['Cnt_9'] = pd.to_numeric(common_data['Cnt_9'])
common_data['Cnt_10'] = pd.to_numeric(common_data['Cnt_10'])
common_data['Cnt_11'] = pd.to_numeric(common_data['Cnt_11'])
common_data['Cnt_12'] = pd.to_numeric(common_data['Cnt_12'])
common_data['Cnt_13'] = pd.to_numeric(common_data['Cnt_13'])
common_data['Cnt_14'] = pd.to_numeric(common_data['Cnt_14'])
common_data['Cnt_15'] = pd.to_numeric(common_data['Cnt_15'])
common_data['Cnt_16'] = pd.to_numeric(common_data['Cnt_16'])
common_data['Cnt_17'] = pd.to_numeric(common_data['Cnt_17'])
common_data['Cnt_18'] = pd.to_numeric(common_data['Cnt_18'])
common_data['Cnt_19'] = pd.to_numeric(common_data['Cnt_19'])
common_data['Cnt_20'] = pd.to_numeric(common_data['Cnt_20'])
common_data['Cnt_21'] = pd.to_numeric(common_data['Cnt_21'])
common_data['Cnt_22'] = pd.to_numeric(common_data['Cnt_22'])
common_data['Cnt_23'] = pd.to_numeric(common_data['Cnt_23'])




common_data['R_1'] = pd.to_numeric(common_data['R_1'])
common_data['R_2'] = pd.to_numeric(common_data['R_2'])
common_data['P_1'] = pd.to_numeric(common_data['P_1'])
common_data['P_2'] = pd.to_numeric(common_data['P_2'])
common_data['P_3'] = pd.to_numeric(common_data['P_3'])
common_data['P_4'] = pd.to_numeric(common_data['P_4'])
common_data['P_5'] = pd.to_numeric(common_data['P_5'])
common_data['P_6'] = pd.to_numeric(common_data['P_6'])
common_data['P_7'] = pd.to_numeric(common_data['P_7'])

In [7]:
print(common_data.isnull().values.any())   # prints True
common_data = common_data.fillna(0)                      # replace NaN values with 0
print(common_data.isnull().values.any())  

common_data.to_csv('/home/monica/hdfc_bank_data/train_data/common_data.csv')

False
False

In [7]:
print(common_data.head())

             ID              Date  Indicator  Type Disbursal_EM_Date  \
0  6UGH4BMM1Y6P  06JUL38:17:31:02          0     0        2038-12-30
1  6UGH4BMM1Y6P  03SEP38:16:42:00          1     1        2038-12-30
2  6UGH4BMM1Y6P  09OCT38:17:02:37          1     2        2038-12-30
3  6UGH4BMM1Y6P  10SEP38:13:36:33          0     3        2038-12-30
4  6UGH4BMM1Y6P  16JUL38:11:36:01          1     1        2038-12-30

  Transaction_EM_Date  T_Mn     Amount  Amt_1  Amt_2    ...     P_3  P_4  P_5  \
0    30JUL38:00:00:00     0   22000.00    0.0    0.0    ...     0.0  0.0  0.0
1    30SEP38:00:00:00     0   14600.00    0.0    0.0    ...     0.0  0.0  0.0
2    31OCT38:00:00:00     1  121199.00    0.0    0.0    ...     0.0  0.0  0.0
3    30SEP38:00:00:00     2       5.62    0.0    0.0    ...     0.0  0.0  0.0
4    30JUL38:00:00:00     0   12603.30    0.0    0.0    ...     0.0  0.0  0.0

   P_6  P_7  Cnt_20  Cnt_21  Cnt_22  Cnt_23  Bad_Flag
0  0.0  0.0     0.0     0.0     0.0     0.0         1
1  0.0  0.0     0.0     0.0     0.0     0.0         1
2  0.0  0.0     0.0     0.0     0.0     0.0         1
3  0.0  0.0     0.0     0.0     0.0     0.0         1
4  0.0  0.0     0.0     0.0     0.0     0.0         1

[5 rows x 60 columns]

In [8]:
print(common_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3623413 entries, 0 to 3623412
Data columns (total 60 columns):
ID                     object
Date                   object
Indicator              int64
Type                   int64
Disbursal_EM_Date      object
Transaction_EM_Date    object
T_Mn                   int64
Amount                 float64
Amt_1                  float64
Amt_2                  float64
Amt_3                  float64
Amt_4                  float64
Amt_5                  float64
Amt_6                  float64
Amt_7                  float64
Amt_8                  float64
Amt_9                  float64
Amt_10                 float64
Amt_11                 float64
Amt_12                 int64
Amt_13                 float64
Amt_14                 float64
Amt_15                 float64
Amt_16                 float64
Cnt_1                  float64
Cnt_2                  float64
Cnt_3                  float64
Cnt_4                  float64
Cnt_5                  float64
Cnt_6                  float64
Cnt_7                  float64
Cnt_8                  float64
Cnt_9                  float64
Cnt_10                 float64
Cnt_11                 float64
Cnt_12                 float64
Cnt_13                 float64
Cnt_14                 float64
Cnt_15                 float64
Cnt_16                 float64
Amt_17                 float64
Amt_18                 float64
Amt_19                 float64
Cnt_17                 float64
Cnt_18                 float64
Cnt_19                 float64
R_1                    float64
R_2                    float64
P_1                    float64
P_2                    float64
P_3                    float64
P_4                    float64
P_5                    float64
P_6                    float64
P_7                    float64
Cnt_20                 float64
Cnt_21                 float64
Cnt_22                 float64
Cnt_23                 float64
Bad_Flag               int64
dtypes: float64(51), int64(5), object(4)
memory usage: 1.6+ GB
None

In [9]:
print(common_data['Bad_Flag'].unique())
print(common_data[common_data['ID'] == '6UGH4BMM1Y6P'])
new_columns = ['ID', 'Indicator', 'S_Type', 'S_T_Mn', 'S_Amount', 'M_Amt1', \
              'M_Amt2', 'M_Amt3', 'M_Amt4', 'M_Amt5', 'M_Amt6', 'M_Amt7',\
              'M_Amt8', 'M_Amt9', 'M_Amt10', 'M_Amt11', 'M_Amt12','M_Amt13','M_Amt14',\
              'M_Cnt3', 'M_Cnt4', 'M_Cnt5', 'M_Cnt6', 'M_Cnt7', 'M_Cnt8', 'M_Cnt9',\
              'M_Cnt10', 'M_Cnt11', 'M_Cnt12', 'M_Cnt13', 'M_Cnt14', 'M_Cnt15', 'M_Cnt16',\
              'M_Cnt17', 'M_Cnt18', 'M_Cnt19', 'M_Cnt20', 'M_Cnt21', 'M_Cnt22', 'M_Cnt23',\
              'M_R1', 'M_R2', 'M_P1', 'M_P2', 'M_P3', 'M_P4','M_P5',\
              'M_P6', 'M_P7', 'Bad_Flag']


#print(common_data[common_data['ID'] == "6UGH4BMM1Y6P"]['Indicator'].mean())

#common_data['M_Indicator'] = common_data['Indicator'].groupby([common_data["Indicator"]]).mean()
#print(common_data[common_data['ID'] == "6UGH4BMM1Y6P"]['M_Indicator'])

[1 0]
               ID              Date  Indicator  Type Disbursal_EM_Date  \
0    6UGH4BMM1Y6P  06JUL38:17:31:02          0     0        2038-12-30
1    6UGH4BMM1Y6P  03SEP38:16:42:00          1     1        2038-12-30
2    6UGH4BMM1Y6P  09OCT38:17:02:37          1     2        2038-12-30
3    6UGH4BMM1Y6P  10SEP38:13:36:33          0     3        2038-12-30
4    6UGH4BMM1Y6P  16JUL38:11:36:01          1     1        2038-12-30
5    6UGH4BMM1Y6P  06OCT38:16:39:12          1     4        2038-12-30
6    6UGH4BMM1Y6P  02APR38:13:18:42          0     5        2038-12-30
7    6UGH4BMM1Y6P  09OCT38:11:34:10          0     3        2038-12-30
8    6UGH4BMM1Y6P  12SEP38:16:18:55          0     5        2038-12-30
9    6UGH4BMM1Y6P  10OCT38:18:26:11          0     6        2038-12-30
10   6UGH4BMM1Y6P  22JUL38:19:31:33          1     1        2038-12-30
11   6UGH4BMM1Y6P  19JUN38:11:30:04          1     1        2038-12-30
12   6UGH4BMM1Y6P  06OCT38:14:29:55          1     1        2038-12-30
13   6UGH4BMM1Y6P  11AUG38:17:16:01          1     1        2038-12-30
14   6UGH4BMM1Y6P  03SEP38:16:41:09          1     1        2038-12-30
15   6UGH4BMM1Y6P  26JUN38:14:38:37          1     7        2038-12-30
16   6UGH4BMM1Y6P  18SEP38:15:01:07          0     6        2038-12-30
17   6UGH4BMM1Y6P  20SEP38:10:02:19          0     6        2038-12-30
18   6UGH4BMM1Y6P  02MAR37:13:36:28          1     1        2038-12-30
19   6UGH4BMM1Y6P  25OCT38:13:23:16          1     1        2038-12-30
20   6UGH4BMM1Y6P  27NOV37:00:00:00          0     8        2038-12-30
21   6UGH4BMM1Y6P  31JUN38:15:31:54          0     6        2038-12-30
22   6UGH4BMM1Y6P  17SEP38:17:41:37          1     1        2038-12-30
23   6UGH4BMM1Y6P  06AUG38:16:01:09          0     0        2038-12-30
24   6UGH4BMM1Y6P  28AUG38:10:23:23          1     1        2038-12-30
25   6UGH4BMM1Y6P  23AUG38:12:22:42          1     4        2038-12-30
26   6UGH4BMM1Y6P  26SEP38:17:03:36          1     4        2038-12-30
27   6UGH4BMM1Y6P  02OCT38:11:34:45          0     0        2038-12-30
28   6UGH4BMM1Y6P  28JUN38:13:53:44          1     9        2038-12-30
29   6UGH4BMM1Y6P  06OCT38:11:39:13          1     4        2038-12-30
..            ...               ...        ...   ...               ...
414  6UGH4BMM1Y6P  30JUN38:10:29:48          1     7        2038-12-30
415  6UGH4BMM1Y6P  17SEP38:16:51:08          0     6        2038-12-30
416  6UGH4BMM1Y6P  15SEP38:12:36:42          1     4        2038-12-30
417  6UGH4BMM1Y6P  04SEP38:10:20:40          1     2        2038-12-30
418  6UGH4BMM1Y6P  25AUG38:15:27:45          0     6        2038-12-30
419  6UGH4BMM1Y6P  27SEP38:17:45:26          0     3        2038-12-30
420  6UGH4BMM1Y6P  31JUN38:09:20:44          0     6        2038-12-30
421  6UGH4BMM1Y6P  27JUN38:12:24:07          0     3        2038-12-30
422  6UGH4BMM1Y6P  30JUN38:09:23:51          0     6        2038-12-30
423  6UGH4BMM1Y6P  18OCT38:09:03:36          1     1        2038-12-30
424  6UGH4BMM1Y6P  02JUL38:12:38:41          1     1        2038-12-30
425  6UGH4BMM1Y6P  22JUL38:19:18:33          0     5        2038-12-30
426  6UGH4BMM1Y6P  19AUG38:18:07:25          1    22        2038-12-30
427  6UGH4BMM1Y6P  18AUG38:12:35:16          0     5        2038-12-30
428  6UGH4BMM1Y6P  11OCT38:10:48:41          1     1        2038-12-30
429  6UGH4BMM1Y6P  05DEC37:20:20:30          1     1        2038-12-30
430  6UGH4BMM1Y6P  30JUL38:19:13:36          0     5        2038-12-30
431  6UGH4BMM1Y6P  05AUG38:11:10:10          0     3        2038-12-30
432  6UGH4BMM1Y6P  21JUL38:12:11:24          0     3        2038-12-30
433  6UGH4BMM1Y6P  12OCT38:14:27:57          1     4        2038-12-30
434  6UGH4BMM1Y6P  23NOV37:00:00:00          0    11        2038-12-30
435  6UGH4BMM1Y6P  10OCT38:18:28:16          0     6        2038-12-30
436  6UGH4BMM1Y6P  30JUL38:11:20:22          0     0        2038-12-30
437  6UGH4BMM1Y6P  20JUL38:13:02:17          0    13        2038-12-30
438  6UGH4BMM1Y6P  02MAR37:14:44:00          0     5        2038-12-30
439  6UGH4BMM1Y6P  27NOV37:00:00:00          1     1        2038-12-30
440  6UGH4BMM1Y6P  15AUG38:13:23:30          0     0        2038-12-30
441  6UGH4BMM1Y6P  04SEP38:14:04:38          1     2        2038-12-30
442  6UGH4BMM1Y6P  11OCT38:10:10:11          1     2        2038-12-30
443  6UGH4BMM1Y6P  16SEP38:11:48:23          0     6        2038-12-30

    Transaction_EM_Date  T_Mn     Amount  Amt_1  Amt_2    ...     P_3  P_4  \
0      30JUL38:00:00:00     0   22000.00    0.0    0.0    ...     0.0  0.0
1      30SEP38:00:00:00     0   14600.00    0.0    0.0    ...     0.0  0.0
2      31OCT38:00:00:00     1  121199.00    0.0    0.0    ...     0.0  0.0
3      30SEP38:00:00:00     2       5.62    0.0    0.0    ...     0.0  0.0
4      30JUL38:00:00:00     0   12603.30    0.0    0.0    ...     0.0  0.0
5      31OCT38:00:00:00     3   10000.00    0.0    0.0    ...     0.0  0.0
6      31APR38:00:00:00     0   25000.00    0.0    0.0    ...     0.0  0.0
7      31OCT38:00:00:00     2       5.70    0.0    0.0    ...     0.0  0.0
8      30SEP38:00:00:00     0  100000.00    0.0    0.0    ...     0.0  0.0
9      31OCT38:00:00:00     0  100000.00    0.0    0.0    ...     0.0  0.0
10     30JUL38:00:00:00     0     481.41    0.0    0.0    ...     0.0  0.0
11     31JUN38:00:00:00     0   11800.00    0.0    0.0    ...     0.0  0.0
12     31OCT38:00:00:00     0    3808.12    0.0    0.0    ...     0.0  0.0
13     31AUG38:00:00:00     0   21000.00    0.0    0.0    ...     0.0  0.0
14     30SEP38:00:00:00     0    6750.00    0.0    0.0    ...     0.0  0.0
15     31JUN38:00:00:00     0  162500.00    0.0    0.0    ...     0.0  0.0
16     30SEP38:00:00:00     0  175000.00    0.0    0.0    ...     0.0  0.0
17     30SEP38:00:00:00     0    2130.60    0.0    0.0    ...     0.0  0.0
18     31MAR37:00:00:00     0   80500.00    0.0    0.0    ...     0.0  0.0
19     31OCT38:00:00:00     0   10766.60    0.0    0.0    ...     0.0  0.0
20     31NOV37:00:00:00     0   19400.00    0.0    0.0    ...     0.0  0.0
21     31JUN38:00:00:00     0  121000.00    0.0    0.0    ...     0.0  0.0
22     30SEP38:00:00:00     0   30000.00    0.0    0.0    ...     0.0  0.0
23     31AUG38:00:00:00     0  200000.00    0.0    0.0    ...     0.0  0.0
24     31AUG38:00:00:00     0    1240.00    0.0    0.0    ...     0.0  0.0
25     31AUG38:00:00:00     3   40000.00    0.0    0.0    ...     0.0  0.0
26     30SEP38:00:00:00     3   10000.00    0.0    0.0    ...     0.0  0.0
27     31OCT38:00:00:00     0    1399.00    0.0    0.0    ...     0.0  0.0
28     31JUN38:00:00:00     0  162500.00    0.0    0.0    ...     0.0  0.0
29     31OCT38:00:00:00     3   25100.00    0.0    0.0    ...     0.0  0.0
..                  ...   ...        ...    ...    ...    ...     ...  ...
414    31JUN38:00:00:00     0  100000.00    0.0    0.0    ...     0.0  0.0
415    30SEP38:00:00:00     0   31000.00    0.0    0.0    ...     0.0  0.0
416    30SEP38:00:00:00     3   18000.00    0.0    0.0    ...     0.0  0.0
417    30SEP38:00:00:00     7  300000.00    0.0    0.0    ...     0.0  0.0
418    31AUG38:00:00:00     0    6000.00    0.0    0.0    ...     0.0  0.0
419    30SEP38:00:00:00     2       5.70    0.0    0.0    ...     0.0  0.0
420    31JUN38:00:00:00     0  145000.00    0.0    0.0    ...     0.0  0.0
421    31JUN38:00:00:00     2       5.62    0.0    0.0    ...     0.0  0.0
422    31JUN38:00:00:00     0  140000.00    0.0    0.0    ...     0.0  0.0
423    31OCT38:00:00:00     0    6500.00    0.0    0.0    ...     0.0  0.0
424    30JUL38:00:00:00     0   22000.00    0.0    0.0    ...     0.0  0.0
425    30JUL38:00:00:00     0    9500.00    0.0    0.0    ...     0.0  0.0
426    31AUG38:00:00:00     0    1640.00    0.0    0.0    ...     0.0  0.0
427    31AUG38:00:00:00     0   32000.00    0.0    0.0    ...     0.0  0.0
428    31OCT38:00:00:00     0   28400.00    0.0    0.0    ...     0.0  0.0
429    30DEC37:00:00:00     0   15000.00    0.0    0.0    ...     0.0  0.0
430    30JUL38:00:00:00     0   25000.00    0.0    0.0    ...     0.0  0.0
431    31AUG38:00:00:00     2       5.62    0.0    0.0    ...     0.0  0.0
432    30JUL38:00:00:00     2       5.62    0.0    0.0    ...     0.0  0.0
433    31OCT38:00:00:00     3   15500.00    0.0    0.0    ...     0.0  0.0
434    31NOV37:00:00:00     5    2000.00    0.0    0.0    ...     0.0  0.0
435    31OCT38:00:00:00     0  100000.00    0.0    0.0    ...     0.0  0.0
436    30JUL38:00:00:00     0   50000.00    0.0    0.0    ...     0.0  0.0
437    30JUL38:00:00:00     1   50000.00    0.0    0.0    ...     0.0  0.0
438    31MAR37:00:00:00     0    4000.00    0.0    0.0    ...     0.0  0.0
439    31NOV37:00:00:00     0   20000.00    0.0    0.0    ...     0.0  0.0
440    31AUG38:00:00:00     0   87670.64    0.0    0.0    ...     0.0  0.0
441    30SEP38:00:00:00     1   20000.00    0.0    0.0    ...     0.0  0.0
442    31OCT38:00:00:00     7  200200.00    0.0    0.0    ...     0.0  0.0
443    30SEP38:00:00:00     0   86000.00    0.0    0.0    ...     0.0  0.0

     P_5  P_6  P_7  Cnt_20  Cnt_21  Cnt_22  Cnt_23  Bad_Flag
0    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
1    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
2    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
3    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
4    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
5    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
6    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
7    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
8    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
9    0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
10   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
11   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
12   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
13   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
14   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
15   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
16   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
17   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
18   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
19   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
20   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
21   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
22   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
23   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
24   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
25   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
26   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
27   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
28   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
29   0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
..   ...  ...  ...     ...     ...     ...     ...       ...
414  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
415  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
416  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
417  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
418  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
419  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
420  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
421  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
422  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
423  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
424  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
425  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
426  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
427  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
428  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
429  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
430  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
431  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
432  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
433  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
434  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
435  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
436  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
437  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
438  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
439  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
440  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
441  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
442  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1
443  0.0  0.0  0.0     0.0     0.0     0.0     0.0         1

[444 rows x 60 columns]

KeyboardInterrupt:

In [ ]:
#Dropping dates for now
#common_data = common_data.drop(['Date', 'Disbursal_EM_Date', 'Transaction_EM_Date'], axis=1)
#scaler = StandardScaler()
#X = scaler.fit_transform(common_data)

In [12]:

unique_ids = pd.Series(common_data['ID'].unique())
print(len(unique_ids))

25673

In [14]:
#M_Indicator = pd.Series([common_data[common_data['ID'] == x]['Indicator'].mean() for x in unique_ids])
M_Indicator = [0] * len(unique_ids)

for i in range(len(unique_ids)):
    M_Indicator[i] = common_data[common_data['ID'] == unique_ids[i]]['Indicator'].mean()

KeyboardInterrupt:

In [ ]:
print(unique_ids[0], M_Indicator[0])