In [1]:
import pandas as pd

transaction_data_test = pd.read_csv('/home/monica/hdfc_bank_data/test_data/TransactionData_Test.csv')
transaction_data_test.rename(index=str, columns={'C2': 'ID', 'C3': 'Transaction_ID', 'C4': 'Date', 'C5': 'Indicator',\
                                                 'C6': 'Type', 'C8': 'Disbursal_EM_Date', 'C9': 'Transaction_EM_Date', \
                                                 'C10': 'T_Mn', 'C12': 'Amount'}, inplace=True)

print(transaction_data_test.head())
print(transaction_data_test.info())

print(len(list(transaction_data_test['ID'].unique())))

             ID   Transaction_ID              Date Indicator Type  \
0   IYH6EOT91IN  6I5V3CKDUVTER3U  16JAN37:23:42:31         D  RDD
1  6NF44HKS8VNP  68BV39T3U86732X  01MAR37:10:24:25         D  NWD
2  6LFE2QYJ56TM  6UHW3BHJGEWE93X  23APR38:09:33:09         C  MCR
3  61QE4KT94V5N  6XBA4KPWF94NEBQ  30SEP38:17:30:56         D  ETD
4  6XGA3KPVR7WH    5NFF4KADUV41J  23DEC37:19:37:08         C  OCD

  Disbursal_EM_Date Transaction_EM_Date   T_Mn    Amount
0        2038-02-30    31JAN37:00:00:00  SWEEP   1000.00
1        2038-12-30    31MAR37:00:00:00    ATM  10000.00
2        2038-07-30    31APR38:00:00:00  OTHER  23591.24
3        2039-05-29    30SEP38:00:00:00  OTHER  24000.00
4        2038-01-31    30DEC37:00:00:00    CHQ   4076.00
<class 'pandas.core.frame.DataFrame'>
Index: 2648039 entries, 0 to 2648038
Data columns (total 9 columns):
ID                     object
Transaction_ID         object
Date                   object
Indicator              object
Type                   object
Disbursal_EM_Date      object
Transaction_EM_Date    object
T_Mn                   object
Amount                 float64
dtypes: float64(1), object(8)
memory usage: 202.0+ MB
None
25719

In [2]:
aggregate_data_test = pd.read_csv('/home/monica/hdfc_bank_data/test_data/AggregateData_Test.csv')  

aggregate_data_test.rename(index=str, columns={'V2': 'ID', 'V3': 'Amt_1', 'V4': 'Amt_2', 'V5': 'Amt_3',\
                                             'V6': 'Amt_4', 'V7': 'Amt_5', 'V8': 'Amt_6','V9': 'Amt_7', 'V10': 'Amt_8', 'V11': 'Amt_9',\
                                             'V12': 'Amt_10', 'V13': 'Amt_11', 'V14': 'Amt_12', 'V15': 'Amt_13', 'V16': 'Amt_14', 'V17': 'Amt_15',\
                                             'V18': 'Amt_16', 'V19': 'Cnt_1', 'V20': 'Cnt_2','V21': 'Cnt_3', 'V22': 'Cnt_4', 'V23': 'Cnt_5', \
                                             'V24': 'Cnt_6', 'V25': 'Cnt_7', 'V26': 'Cnt_8','V27': 'Cnt_9', 'V28': 'Cnt_10', 'V29': 'Cnt_11', \
                                             'V30': 'Cnt_12', 'V31': 'Cnt_13', 'V32': 'Cnt_14','V33': 'Cnt_15', 'V34': 'Cnt_16', 'V35': 'Amt_17', \
                                             'V36': 'Amt_18', 'V37': 'Amt_19', 'V38': 'Cnt_17','V39': 'Cnt_18', 'V40': 'Cnt_19', 'V41': 'R_1', \
                                             'V42': 'R_2', 'V43': 'P_1', 'V44': 'P_2','V45': 'P_3', 'V46': 'P_4', 'V47': 'P_5', \
                                             'V48': 'P_6', 'V49': 'P_7', 'V50': 'Cnt_20','V51': 'Cnt_21', 'V52': 'Cnt_22', 'V53': 'Cnt_23',\
                                             'bad_flag': 'Bad_Flag'}, inplace=True)

print(aggregate_data_test.head())
print(aggregate_data_test.info())

print(len(list(aggregate_data_test['ID'].unique())))

    UID           ID     Amt_1   Amt_2   Amt_3 Amt_4  Amt_5 Amt_6 Amt_7  \
0  Te-1  61P4S1M3GET  10397.75       ?       ?     ?      ?     ?     ?
1  Te-2  6NYVS1J3U7M         ?  606.74       ?     ?      ?     ?     ?
2  Te-3   BLFB1KMS48  87452.89  963.52       ?     ?  13838     ?     ?
3  Te-4   MYGB1LCW8P         ?  393.26  100000     ?      ?     ?     ?
4  Te-5  6UG5S1PQGE5      1100   497.2       ?     ?      ?     ?   0.9

       Amt_8  ...        P_2 P_3      P_4 P_5 P_6      P_7 Cnt_20 Cnt_21  \
0  197186.68  ...          ?   ?  5.04055   ?   ?        ?      6      9
1          ?  ...          ?   ?        ?   ?   ?        ?      1      ?
2    1081.25  ...    1.28678   ?        ?   ?   ?        ?     10     10
3          ?  ...          ?   ?        ?   ?   ?        ?      4      1
4      18640  ...          ?   ?  0.00470   ?   ?  0.00007      2      3

  Cnt_22 Cnt_23
0      3     10
1      ?      ?
2     20      1
3      ?      2
4      1      2

[5 rows x 53 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 48434 entries, 0 to 48433
Data columns (total 53 columns):
UID       48434 non-null object
ID        48434 non-null object
Amt_1     48434 non-null object
Amt_2     48434 non-null object
Amt_3     48434 non-null object
Amt_4     48434 non-null object
Amt_5     48434 non-null object
Amt_6     48434 non-null object
Amt_7     48434 non-null object
Amt_8     48434 non-null object
Amt_9     48434 non-null object
Amt_10    48434 non-null object
Amt_11    48434 non-null object
Amt_12    48434 non-null object
Amt_13    48434 non-null object
Amt_14    48434 non-null object
Amt_15    48434 non-null object
Amt_16    48434 non-null object
Cnt_1     48434 non-null object
Cnt_2     48434 non-null object
Cnt_3     48434 non-null object
Cnt_4     48434 non-null object
Cnt_5     48434 non-null object
Cnt_6     48434 non-null object
Cnt_7     48434 non-null object
Cnt_8     48434 non-null object
Cnt_9     48434 non-null object
Cnt_10    48434 non-null object
Cnt_11    48434 non-null object
Cnt_12    48434 non-null object
Cnt_13    48434 non-null object
Cnt_14    48434 non-null object
Cnt_15    48434 non-null object
Cnt_16    48434 non-null object
Amt_17    48434 non-null object
Amt_18    48434 non-null object
Amt_19    48434 non-null object
Cnt_17    48434 non-null object
Cnt_18    48434 non-null object
Cnt_19    48434 non-null object
R_1       48434 non-null object
R_2       48434 non-null object
P_1       48434 non-null object
P_2       48434 non-null object
P_3       48434 non-null object
P_4       48434 non-null object
P_5       48434 non-null object
P_6       48434 non-null object
P_7       48434 non-null object
Cnt_20    48434 non-null object
Cnt_21    48434 non-null object
Cnt_22    48434 non-null object
Cnt_23    48434 non-null object
dtypes: object(53)
memory usage: 20.0+ MB
None
25719

In [3]:
common_data_test = pd.merge(transaction_data_test, aggregate_data_test, on='ID')
print(common_data_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5590891 entries, 0 to 5590890
Data columns (total 61 columns):
ID                     object
Transaction_ID         object
Date                   object
Indicator              object
Type                   object
Disbursal_EM_Date      object
Transaction_EM_Date    object
T_Mn                   object
Amount                 float64
UID                    object
Amt_1                  object
Amt_2                  object
Amt_3                  object
Amt_4                  object
Amt_5                  object
Amt_6                  object
Amt_7                  object
Amt_8                  object
Amt_9                  object
Amt_10                 object
Amt_11                 object
Amt_12                 object
Amt_13                 object
Amt_14                 object
Amt_15                 object
Amt_16                 object
Cnt_1                  object
Cnt_2                  object
Cnt_3                  object
Cnt_4                  object
Cnt_5                  object
Cnt_6                  object
Cnt_7                  object
Cnt_8                  object
Cnt_9                  object
Cnt_10                 object
Cnt_11                 object
Cnt_12                 object
Cnt_13                 object
Cnt_14                 object
Cnt_15                 object
Cnt_16                 object
Amt_17                 object
Amt_18                 object
Amt_19                 object
Cnt_17                 object
Cnt_18                 object
Cnt_19                 object
R_1                    object
R_2                    object
P_1                    object
P_2                    object
P_3                    object
P_4                    object
P_5                    object
P_6                    object
P_7                    object
Cnt_20                 object
Cnt_21                 object
Cnt_22                 object
Cnt_23                 object
dtypes: float64(1), object(60)
memory usage: 2.6+ GB
None

In [4]:
common_data_test.drop(['UID', 'Transaction_ID' ], axis = 1, inplace = True)

In [5]:
common_data_test['Amt_1'] = common_data_test['Amt_1'].map({'?': 0})
common_data_test['Amt_2'] = common_data_test['Amt_2'].map({'?': 0})
common_data_test['Amt_3'] = common_data_test['Amt_3'].map({'?': 0})
common_data_test['Amt_4'] = common_data_test['Amt_4'].map({'?': 0})
common_data_test['Amt_5'] = common_data_test['Amt_5'].map({'?': 0})
common_data_test['Amt_6'] = common_data_test['Amt_6'].map({'?': 0})
common_data_test['Amt_7'] = common_data_test['Amt_7'].map({'?': 0})
common_data_test['Amt_8'] = common_data_test['Amt_8'].map({'?': 0})
common_data_test['Amt_9'] = common_data_test['Amt_9'].map({'?': 0})
common_data_test['Amt_10'] = common_data_test['Amt_10'].map({'?': 0})
common_data_test['Amt_11'] = common_data_test['Amt_11'].map({'?': 0})
common_data_test['Amt_12'] = common_data_test['Amt_12'].map({'?': 0})
common_data_test['Amt_13'] = common_data_test['Amt_13'].map({'?': 0})
common_data_test['Amt_14'] = common_data_test['Amt_14'].map({'?': 0})
common_data_test['Amt_15'] = common_data_test['Amt_15'].map({'?': 0})
common_data_test['Amt_16'] = common_data_test['Amt_16'].map({'?': 0})
common_data_test['Amt_17'] = common_data_test['Amt_17'].map({'?': 0})
common_data_test['Amt_18'] = common_data_test['Amt_18'].map({'?': 0})
common_data_test['Amt_19'] = common_data_test['Amt_19'].map({'?': 0})


common_data_test['Amt_1'] = pd.to_numeric(common_data_test['Amt_1'])
common_data_test['Amt_2'] = pd.to_numeric(common_data_test['Amt_2'])
common_data_test['Amt_3'] = pd.to_numeric(common_data_test['Amt_3'])
common_data_test['Amt_4'] = pd.to_numeric(common_data_test['Amt_4'])
common_data_test['Amt_5'] = pd.to_numeric(common_data_test['Amt_5'])
common_data_test['Amt_6'] = pd.to_numeric(common_data_test['Amt_6'])
common_data_test['Amt_7'] = pd.to_numeric(common_data_test['Amt_7'])
common_data_test['Amt_8'] = pd.to_numeric(common_data_test['Amt_8'])
common_data_test['Amt_9'] = pd.to_numeric(common_data_test['Amt_9'])
common_data_test['Amt_10'] = pd.to_numeric(common_data_test['Amt_10'])
common_data_test['Amt_11'] = pd.to_numeric(common_data_test['Amt_11'])
common_data_test['Amt_12'] = pd.to_numeric(common_data_test['Amt_12'])
common_data_test['Amt_13'] = pd.to_numeric(common_data_test['Amt_13'])
common_data_test['Amt_14'] = pd.to_numeric(common_data_test['Amt_14'])
common_data_test['Amt_15'] = pd.to_numeric(common_data_test['Amt_15'])
common_data_test['Amt_16'] = pd.to_numeric(common_data_test['Amt_16'])
common_data_test['Amt_17'] = pd.to_numeric(common_data_test['Amt_17'])
common_data_test['Amt_18'] = pd.to_numeric(common_data_test['Amt_18'])
common_data_test['Amt_19'] = pd.to_numeric(common_data_test['Amt_19'])

common_data_test['Cnt_1'] = common_data_test['Cnt_1'].map({'?': 0})
common_data_test['Cnt_2'] = common_data_test['Cnt_2'].map({'?': 0})
common_data_test['Cnt_3'] = common_data_test['Cnt_3'].map({'?': 0})
common_data_test['Cnt_4'] = common_data_test['Cnt_4'].map({'?': 0})
common_data_test['Cnt_5'] = common_data_test['Cnt_5'].map({'?': 0})
common_data_test['Cnt_6'] = common_data_test['Cnt_6'].map({'?': 0})
common_data_test['Cnt_7'] = common_data_test['Cnt_7'].map({'?': 0})
common_data_test['Cnt_8'] = common_data_test['Cnt_8'].map({'?': 0})
common_data_test['Cnt_9'] = common_data_test['Cnt_9'].map({'?': 0})
common_data_test['Cnt_10'] = common_data_test['Cnt_10'].map({'?': 0})
common_data_test['Cnt_11'] = common_data_test['Cnt_11'].map({'?': 0})
common_data_test['Cnt_12'] = common_data_test['Cnt_12'].map({'?': 0})
common_data_test['Cnt_13'] = common_data_test['Cnt_13'].map({'?': 0})
common_data_test['Cnt_14'] = common_data_test['Cnt_14'].map({'?': 0})
common_data_test['Cnt_15'] = common_data_test['Cnt_15'].map({'?': 0})
common_data_test['Cnt_16'] = common_data_test['Cnt_16'].map({'?': 0})
common_data_test['Cnt_17'] = common_data_test['Cnt_17'].map({'?': 0})
common_data_test['Cnt_18'] = common_data_test['Cnt_18'].map({'?': 0})
common_data_test['Cnt_19'] = common_data_test['Cnt_19'].map({'?': 0})
common_data_test['Cnt_20'] = common_data_test['Cnt_20'].map({'?': 0})
common_data_test['Cnt_21'] = common_data_test['Cnt_21'].map({'?': 0})
common_data_test['Cnt_22'] = common_data_test['Cnt_22'].map({'?': 0})
common_data_test['Cnt_23'] = common_data_test['Cnt_23'].map({'?': 0})

common_data_test['R_1'] = common_data_test['R_1'].map({'?': 0})
common_data_test['R_2'] = common_data_test['R_2'].map({'?': 0})
common_data_test['P_1'] = common_data_test['P_1'].map({'?': 0})
common_data_test['P_2'] = common_data_test['P_2'].map({'?': 0})
common_data_test['P_3'] = common_data_test['P_3'].map({'?': 0})
common_data_test['P_4'] = common_data_test['P_4'].map({'?': 0})
common_data_test['P_5'] = common_data_test['P_5'].map({'?': 0})
common_data_test['P_6'] = common_data_test['P_6'].map({'?': 0})
common_data_test['P_7'] = common_data_test['P_7'].map({'?': 0})

common_data_test['Cnt_1'] = pd.to_numeric(common_data_test['Cnt_1'])
common_data_test['Cnt_2'] = pd.to_numeric(common_data_test['Cnt_2'])
common_data_test['Cnt_3'] = pd.to_numeric(common_data_test['Cnt_3'])
common_data_test['Cnt_4'] = pd.to_numeric(common_data_test['Cnt_4'])
common_data_test['Cnt_5'] = pd.to_numeric(common_data_test['Cnt_5'])
common_data_test['Cnt_6'] = pd.to_numeric(common_data_test['Cnt_6'])
common_data_test['Cnt_7'] = pd.to_numeric(common_data_test['Cnt_7'])
common_data_test['Cnt_8'] = pd.to_numeric(common_data_test['Cnt_8'])
common_data_test['Cnt_9'] = pd.to_numeric(common_data_test['Cnt_9'])
common_data_test['Cnt_10'] = pd.to_numeric(common_data_test['Cnt_10'])
common_data_test['Cnt_11'] = pd.to_numeric(common_data_test['Cnt_11'])
common_data_test['Cnt_12'] = pd.to_numeric(common_data_test['Cnt_12'])
common_data_test['Cnt_13'] = pd.to_numeric(common_data_test['Cnt_13'])
common_data_test['Cnt_14'] = pd.to_numeric(common_data_test['Cnt_14'])
common_data_test['Cnt_15'] = pd.to_numeric(common_data_test['Cnt_15'])
common_data_test['Cnt_16'] = pd.to_numeric(common_data_test['Cnt_16'])
common_data_test['Cnt_17'] = pd.to_numeric(common_data_test['Cnt_17'])
common_data_test['Cnt_18'] = pd.to_numeric(common_data_test['Cnt_18'])
common_data_test['Cnt_19'] = pd.to_numeric(common_data_test['Cnt_19'])
common_data_test['Cnt_20'] = pd.to_numeric(common_data_test['Cnt_20'])
common_data_test['Cnt_21'] = pd.to_numeric(common_data_test['Cnt_21'])
common_data_test['Cnt_22'] = pd.to_numeric(common_data_test['Cnt_22'])
common_data_test['Cnt_23'] = pd.to_numeric(common_data_test['Cnt_23'])




common_data_test['R_1'] = pd.to_numeric(common_data_test['R_1'])
common_data_test['R_2'] = pd.to_numeric(common_data_test['R_2'])
common_data_test['P_1'] = pd.to_numeric(common_data_test['P_1'])
common_data_test['P_2'] = pd.to_numeric(common_data_test['P_2'])
common_data_test['P_3'] = pd.to_numeric(common_data_test['P_3'])
common_data_test['P_4'] = pd.to_numeric(common_data_test['P_4'])
common_data_test['P_5'] = pd.to_numeric(common_data_test['P_5'])
common_data_test['P_6'] = pd.to_numeric(common_data_test['P_6'])
common_data_test['P_7'] = pd.to_numeric(common_data_test['P_7'])

In [6]:
print(common_data_test.isnull().values.any())   # prints True
common_data_test = common_data_test.fillna(0)                      # replace NaN values with 0
print(common_data_test.isnull().values.any())  

common_data_test.to_csv('/home/monica/hdfc_bank_data/test_data/common_data_test.csv')

True
False