In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy import update


engine = create_engine('sqlite:///:memory:', echo=True)

In [2]:
Base = declarative_base()

class Adult(Base):
    __tablename__ = 'adult'
    
    age = Column(Integer)
    workclass = Column(String)
    fnlwgt = Column(Integer, primary_key=True)
    education = Column(String)
    education_num = Column(Integer)
    marital_status = Column(String)
    occupation = Column(String)
    relationship = Column(String)
    race = Column(String)
    sex = Column(String)
    capital_gain = Column(Integer)
    capital_loss = Column(Integer)
    hours_per_week = Column(Integer)
    native_country = Column(String)
    
    def __repr__(self):
        return "<Adult(age='%i', education='%s', native_country='%s')>" % (
                        self.age, self.education, self.native_country)

In [3]:
Adult.__table__

Table('adult', MetaData(bind=None), Column('age', Integer(), table=<adult>), Column('workclass', String(), table=<adult>), Column('fnlwgt', Integer(), table=<adult>, primary_key=True, nullable=False), Column('education', String(), table=<adult>), Column('education_num', Integer(), table=<adult>), Column('marital_status', String(), table=<adult>), Column('occupation', String(), table=<adult>), Column('relationship', String(), table=<adult>), Column('race', String(), table=<adult>), Column('sex', String(), table=<adult>), Column('capital_gain', Integer(), table=<adult>), Column('capital_loss', Integer(), table=<adult>), Column('hours_per_week', Integer(), table=<adult>), Column('native_country', String(), table=<adult>), schema=None)

In [4]:
Base.metadata.create_all(engine)

2018-09-22 11:49:47,599 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-22 11:49:47,599 INFO sqlalchemy.engine.base.Engine ()
2018-09-22 11:49:47,600 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-22 11:49:47,601 INFO sqlalchemy.engine.base.Engine ()
2018-09-22 11:49:47,602 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")
2018-09-22 11:49:47,604 INFO sqlalchemy.engine.base.Engine ()
2018-09-22 11:49:47,607 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult (
	age INTEGER,
	workclass VARCHAR,
	fnlwgt INTEGER NOT NULL,
	education VARCHAR,
	education_num INTEGER,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR,
	PRIMARY KEY (fnlwgt)
)


2018-09-22 11:49:47,608 INFO sqlalchemy.engine.base.Engine ()
2018-09-22 11:49:47,609 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
Session = sessionmaker(bind=engine)
session = Session()

In [6]:
a1 = Adult(age=22, workclass='Private', fnlwgt=325033, education='12th', education_num=8, marital_status='Never-married',\
                   occupation='Protective-serv', relationship='Own-child', race='Black', sex='Male', capital_gain=0,\
                   capital_loss=0, hours_per_week=35,native_country='United-States')


session.add(a1)

In [7]:
a2 = Adult(age=34, workclass='Private', fnlwgt=160216, education='Bachelors', education_num=13, marital_status='Never-married',\
                   occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Female', capital_gain=0,\
                   capital_loss=0, hours_per_week=55,native_country='United-States')

a3 = Adult(age=30, workclass='Private', fnlwgt=345898, education='HS-grad', education_num=9, marital_status='Never-married',\
                   occupation='Craft-repair', relationship='Not-in-family', race='Black', sex='Male', capital_gain=0,\
                   capital_loss=0, hours_per_week=46,native_country='United-States')

a4 = Adult(age=38, workclass='Private', fnlwgt=139180, education='Bachelors', education_num=13, marital_status='Divorced',\
                   occupation='Prof-speciality', relationship='Unmarried', race='Black', sex='Female', capital_gain=15020,\
                   capital_loss=0, hours_per_week=45,native_country='United-States')

a5 = Adult(age=71, workclass='?', fnlwgt=287372, education='Doctorate', education_num=16, marital_status='Married-civ-spouse',\
                   occupation='?', relationship='Husband', race='White', sex='Male', capital_gain=0,\
                   capital_loss=0, hours_per_week=10,native_country='United-States')

In [8]:
session.add(a2)
session.add(a3)
session.add(a4)
session.add(a5)
session.commit()

2018-09-22 11:49:47,887 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 11:49:47,889 INFO sqlalchemy.engine.base.Engine INSERT INTO adult (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-22 11:49:47,890 INFO sqlalchemy.engine.base.Engine ((22, 'Private', 325033, '12th', 8, 'Never-married', 'Protective-serv', 'Own-child', 'Black', 'Male', 0, 0, 35, 'United-States'), (34, 'Private', 160216, 'Bachelors', 13, 'Never-married', 'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 0, 55, 'United-States'), (30, 'Private', 345898, 'HS-grad', 9, 'Never-married', 'Craft-repair', 'Not-in-family', 'Black', 'Male', 0, 0, 46, 'United-States'), (38, 'Private', 139180, 'Bachelors', 13, 'Divorced', 'Prof-speciality', 'Unmarried', 'Black', 'Female', 15020, 0, 45, 'United-States'), (71, '?', 287372, 'Doctorate', 16, 'Married-civ-spouse', '?', 'Husband', 'White', 'Male', 0, 0, 10, 'United-States'))
2018-09-22 11:49:47,892 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
upd = (session.query(Adult)
       .filter(Adult.fnlwgt == 287372)
       .update({"occupation": "Scientist"}))
print("# of updated rows = {}".format(upd))
session.commit()
upd = (session.query(Adult)
       .filter(Adult.fnlwgt == 287372)
       .update({'workclass': 'Private'}))
print("# of updated rows = {}".format(upd))
session.commit()

2018-09-22 11:55:28,199 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 11:55:28,201 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,202 INFO sqlalchemy.engine.base.Engine (325033,)
2018-09-22 11:55:28,205 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,207 INFO sqlalchemy.engine.base.Engine (139180,)
2018-09-22 11:55:28,210 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,211 INFO sqlalchemy.engine.base.Engine (160216,)
2018-09-22 11:55:28,213 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,214 INFO sqlalchemy.engine.base.Engine (287372,)
2018-09-22 11:55:28,217 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,217 INFO sqlalchemy.engine.base.Engine (345898,)
2018-09-22 11:55:28,220 INFO sqlalchemy.engine.base.Engine UPDATE adult SET occupation=? WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,221 INFO sqlalchemy.engine.base.Engine ('Scientist', 287372)
# of updated rows = 1
2018-09-22 11:55:28,222 INFO sqlalchemy.engine.base.Engine COMMIT
2018-09-22 11:55:28,225 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 11:55:28,226 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,227 INFO sqlalchemy.engine.base.Engine (325033,)
2018-09-22 11:55:28,230 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,234 INFO sqlalchemy.engine.base.Engine (139180,)
2018-09-22 11:55:28,236 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,237 INFO sqlalchemy.engine.base.Engine (160216,)
2018-09-22 11:55:28,241 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,242 INFO sqlalchemy.engine.base.Engine (287372,)
2018-09-22 11:55:28,244 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,245 INFO sqlalchemy.engine.base.Engine (345898,)
2018-09-22 11:55:28,248 INFO sqlalchemy.engine.base.Engine UPDATE adult SET workclass=? WHERE adult.fnlwgt = ?
2018-09-22 11:55:28,249 INFO sqlalchemy.engine.base.Engine ('Private', 287372)
# of updated rows = 1
2018-09-22 11:55:28,250 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
session.add_all([
     Adult(age=34, workclass='Private', fnlwgt=123, education='Bachelors', education_num=13, marital_status='Never-married',\
                   occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Female', capital_gain=0,\
                   capital_loss=0, hours_per_week=55,native_country='United-States'),
     Adult(age=34, workclass='Private', fnlwgt=456, education='Bachelors', education_num=13, marital_status='Never-married',\
                   occupation='Exec-managerial', relationship='Not-in-family', race='White', sex='Female', capital_gain=0,\
                   capital_loss=0, hours_per_week=55,native_country='United-States')])

session.commit()

2018-09-22 11:58:38,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 11:58:38,074 INFO sqlalchemy.engine.base.Engine INSERT INTO adult (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-22 11:58:38,075 INFO sqlalchemy.engine.base.Engine ((34, 'Private', 123, 'Bachelors', 13, 'Never-married', 'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 0, 55, 'United-States'), (34, 'Private', 456, 'Bachelors', 13, 'Never-married', 'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 0, 55, 'United-States'))
2018-09-22 11:58:38,077 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
session.query(Adult).filter(Adult.fnlwgt == 123).all()

2018-09-22 11:59:41,782 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 11:59:41,788 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 11:59:41,791 INFO sqlalchemy.engine.base.Engine (123,)

In [17]:
session.query(Adult).filter(Adult.fnlwgt == 456).all()

2018-09-22 12:00:00,020 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:00:00,022 INFO sqlalchemy.engine.base.Engine (456,)

In [18]:
del1 = session.query(Adult).filter(Adult.fnlwgt == 123).delete()
session.commit()
print(format(del1))

2018-09-22 12:01:13,537 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:13,539 INFO sqlalchemy.engine.base.Engine (325033,)
2018-09-22 12:01:13,542 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:13,543 INFO sqlalchemy.engine.base.Engine (139180,)
2018-09-22 12:01:13,545 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:13,547 INFO sqlalchemy.engine.base.Engine (160216,)
2018-09-22 12:01:13,549 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:13,551 INFO sqlalchemy.engine.base.Engine (287372,)
2018-09-22 12:01:13,554 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:13,555 INFO sqlalchemy.engine.base.Engine (345898,)
2018-09-22 12:01:13,557 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.fnlwgt = ?
2018-09-22 12:01:13,558 INFO sqlalchemy.engine.base.Engine (123,)
2018-09-22 12:01:13,559 INFO sqlalchemy.engine.base.Engine COMMIT
1

In [19]:
del2 = session.query(Adult).filter(Adult.fnlwgt == 456).delete()
session.commit()
print(format(del2))

2018-09-22 12:01:38,914 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 12:01:38,917 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,918 INFO sqlalchemy.engine.base.Engine (325033,)
2018-09-22 12:01:38,922 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,923 INFO sqlalchemy.engine.base.Engine (139180,)
2018-09-22 12:01:38,925 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,927 INFO sqlalchemy.engine.base.Engine (160216,)
2018-09-22 12:01:38,929 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,930 INFO sqlalchemy.engine.base.Engine (287372,)
2018-09-22 12:01:38,932 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,933 INFO sqlalchemy.engine.base.Engine (345898,)
2018-09-22 12:01:38,936 INFO sqlalchemy.engine.base.Engine SELECT adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country
FROM adult
WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,937 INFO sqlalchemy.engine.base.Engine (456,)
2018-09-22 12:01:38,939 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.fnlwgt = ?
2018-09-22 12:01:38,940 INFO sqlalchemy.engine.base.Engine (456,)
2018-09-22 12:01:38,942 INFO sqlalchemy.engine.base.Engine COMMIT
1

In [20]:
from sqlalchemy import func

In [21]:
session.query(func.count(Adult.fnlwgt), Adult.age).group_by(Adult.age).all()

2018-09-22 12:05:07,439 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-22 12:05:07,441 INFO sqlalchemy.engine.base.Engine SELECT count(adult.fnlwgt) AS count_1, adult.age AS adult_age
FROM adult GROUP BY adult.age
2018-09-22 12:05:07,442 INFO sqlalchemy.engine.base.Engine ()

[(1, 22), (1, 30), (1, 34), (1, 38), (1, 71)]