In [4]:
import sqlite3

connection = sqlite3.connect("myTable5.db") 

crsr = connection.cursor() 
  
sql_command = """CREATE TABLE student (  
NAME varchar(30) PRIMARY KEY,  
CLASS VARCHAR(20),  
GRADE DOUBLE);"""
  
# execute the statement 
crsr.execute(sql_command)

In [5]:
sql_command = """INSERT INTO student VALUES ("Jonathan", "Math", 90);"""
crsr.execute(sql_command)

In [6]:
sql_command = """INSERT INTO student VALUES ("Heather", "Math", 100);"""
crsr.execute(sql_command)

In [7]:
sql_command = """INSERT INTO student VALUES ("Alison", "History", 85);"""
crsr.execute(sql_command)

In [8]:
sql_command = """INSERT INTO student VALUES ("Pam", "History", 95);"""
crsr.execute(sql_command)

In [9]:
sql_command = "select * from student"
crsr.execute(sql_command)

In [10]:
records = crsr.fetchall()

for rec in records:
    print(rec)

('Jonathan', 'Math', 90.0)
('Heather', 'Math', 100.0)
('Alison', 'History', 85.0)
('Pam', 'History', 95.0)

In [11]:
q = 'select NAME, max(GRADE) from student group by CLASS'
r = crsr.execute(q)


for r1 in r:
    print(r1)

('Pam', 95.0)
('Heather', 100.0)

In [12]:
print(crsr.execute('select * from student order by GRADE'))

<sqlite3.Cursor object at 0x7feab44346c0>

In [13]:
print(crsr.fetchall())

[('Alison', 'History', 85.0), ('Jonathan', 'Math', 90.0), ('Pam', 'History', 95.0), ('Heather', 'Math', 100.0)]

In [14]:
crsr.execute('select * from student group by CLASS order by GRADE desc limit 2')

In [15]:
print(crsr.fetchall())

[('Heather', 'Math', 100.0), ('Pam', 'History', 95.0)]

In [16]:
for i in range(1, 100):
    if(i % 3 == 0 and i %5 == 0):
        print(i,': fizzbuzz')
    elif (i % 3 == 0):
        print(i, ': fizz')
    elif (i%5 == 0):
        print(i, ': buzz')

3 : fizz
5 : buzz
6 : fizz
9 : fizz
10 : buzz
12 : fizz
15 : fizzbuzz
18 : fizz
20 : buzz
21 : fizz
24 : fizz
25 : buzz
27 : fizz
30 : fizzbuzz
33 : fizz
35 : buzz
36 : fizz
39 : fizz
40 : buzz
42 : fizz
45 : fizzbuzz
48 : fizz
50 : buzz
51 : fizz
54 : fizz
55 : buzz
57 : fizz
60 : fizzbuzz
63 : fizz
65 : buzz
66 : fizz
69 : fizz
70 : buzz
72 : fizz
75 : fizzbuzz
78 : fizz
80 : buzz
81 : fizz
84 : fizz
85 : buzz
87 : fizz
90 : fizzbuzz
93 : fizz
95 : buzz
96 : fizz
99 : fizz

In [17]:
crsr.execute('select NAME, MAX(GRADE) from student group by CLASS')

In [18]:
print(crsr.fetchall())

[('Pam', 95.0), ('Heather', 100.0)]