In [1]:
import pandas as pd

df = pd.DataFrame(columns = ['Item', 'Shop1', 'Shop2', 'Shop3', 'Category'])
df['Item']= pd.Series(['Shoes', 'TV', 'Book', 'Phone', 'Shirt'])
df['Shop1']= pd.Series([40,50,60,70,20])
df['Shop2']=pd.Series([79,34,12,34,32])
df['Shop3'] = pd.Series([78,95,34,12,34])
df['Category'] = pd.Series(['Clothes', 'Technology', 'Books', 'Technology', 'Clothes'])

In [2]:
print(df)

    Item  Shop1  Shop2  Shop3    Category
0  Shoes     40     79     78     Clothes
1     TV     50     34     95  Technology
2   Book     60     12     34       Books
3  Phone     70     34     12  Technology
4  Shirt     20     32     34     Clothes

In [24]:
df1 = df.set_index(['Item','Category']).stack().reset_index()
print(df1)
print("="*50)
df1.rename(columns={'level_2':'Shops', 0: 'Cost'},inplace=True)
print(df1)

     Item    Category level_2   0
0   Shoes     Clothes   Shop1  40
1   Shoes     Clothes   Shop2  79
2   Shoes     Clothes   Shop3  78
3      TV  Technology   Shop1  50
4      TV  Technology   Shop2  34
5      TV  Technology   Shop3  95
6    Book       Books   Shop1  60
7    Book       Books   Shop2  12
8    Book       Books   Shop3  34
9   Phone  Technology   Shop1  70
10  Phone  Technology   Shop2  34
11  Phone  Technology   Shop3  12
12  Shirt     Clothes   Shop1  20
13  Shirt     Clothes   Shop2  32
14  Shirt     Clothes   Shop3  34
==================================================
     Item    Category  Shops  Cost
0   Shoes     Clothes  Shop1    40
1   Shoes     Clothes  Shop2    79
2   Shoes     Clothes  Shop3    78
3      TV  Technology  Shop1    50
4      TV  Technology  Shop2    34
5      TV  Technology  Shop3    95
6    Book       Books  Shop1    60
7    Book       Books  Shop2    12
8    Book       Books  Shop3    34
9   Phone  Technology  Shop1    70
10  Phone  Technology  Shop2    34
11  Phone  Technology  Shop3    12
12  Shirt     Clothes  Shop1    20
13  Shirt     Clothes  Shop2    32
14  Shirt     Clothes  Shop3    34

In [25]:
print(df1.groupby('Category')['Cost'].agg(['min', 'max']))

            min  max
Category
Books        12   60
Clothes      20   79
Technology   12   95